.navbarButtons {
  color: #06114F;
  font-family: Merriweather, Martel, "PT Serif", Brawler;
}

.description-title {
  color: #252F65;
  font-family: Merriweather, Martel, "PT Serif", Brawler;
  font-weight: bold;
}

.description {
  color: #252F65;
  font-family: Roboto;
}
/* nu e ok butonul*/
.btn-dark{
  background-color: #6F3096;
  border-color: #6F3096;
  color: white;
  font-family: Merriweather, Martel, "PT Serif", Brawler;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus, .open .dropdown-toggle.btn-dark {
  background-color: #5b287a;
}

.uploadBox {
  background-color: #6F3096;
}

.formBox {
  border-color: #06114F;
}

.footerBox {
  background-color: #06114F;
}

.copyright {
  color: white;
  font-family: Merriweather, Martel, "PT Serif", Brawler;
}

/*   sfc
html, body {
  padding: 0;
  margin: 0;
}
*/
.box {
  background-color: lightblue;
}
